* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bad: #ff0000; 
  --win: #14e61b;
  --fondo: #0e0e1c;
  --user: #1f1f37a3;
  --blanco: #fff;
 }

:root {
  --bad: #ff0000; 
  --win: #14e61b;
  --fondo: #0e0e1c;
  --user: #1f1f37a3;
  --blanco: #fff;
 }

body {
  background-color: rgb(14, 14, 28);
  color: white;
}  

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 100vh;
  border: 1px solid blue; 
}

.ref button {
  border: none;
  background: 0;
  
  display: block;
  padding: 1em 0;  
  width: 180px;
  background-color: yellow;
  border-radius: 1em;
  margin: auto;
  font-size: 1.5em;
  cursor: pointer;
  margin-bottom: 3em;
}

.border-boton span {
  padding: 0 0.5em;
  font-size: 2rem;
  margin-right: 1em; 
  border-bottom: 3px solid yellow;
  color: var(--blanco);
}


.border-boton span:last-child {
  margin-right: 0;
}


.inputKeyboard {
  border: 0;
  background: none;

  display: block;
  width: 160px;
  padding: .3em;
  font-size: 2.5rem;
  margin: 50px;
  border-radius: 10px;
  background: var(--user);
  text-align: center;
  color: var(--blanco);
}

.inputKeyboard:focus {
  outline: none;
}

::placeholder {
  font-size: .5em;
  color: var(--blanco);
}