* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bad: #ff0000; 
  --win: #14e61b;
  --fondo: #0e0e1c;
  --user: #787a7d;
  --user2: #0954c6; 
}

body {
  background: var(--fondo);
}

h1 {
  color: var(--user2);
  text-align: center;
  font-size: 3em;
}

nav {
  border: 1px solid yellow;
  text-align: center;
  font-size: 1.5em;
  padding: 10px;
}

.test > p {
  color: white;
  text-align: center;
  font-size: 2em;
  animation: mianimacion 2s ease-in-out 2s infinite normal none;
}

@keyframes mianimacion {
  0% {
  color: var(--win);
}
  50% {
  color: var(--win);
  font-size: 4em;
  }
  100% {
  color: red;
  }
}