* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bad: #ff0000; 
  --win: #14e61b;
  --fondo: #0e0e1c;
  --user: #787a7d;
 }

h1 {
  text-align: center;
  color: rgb(20, 230, 27);
  font-size: 50px;
  padding: 10px;
}
 body {
  background-color: rgb(14, 14, 28);
  color: white;
  /* text-align: center; */
 }  

 p {
  font-size: 30px;
 }

.red {
  color: red;
}
 
#word {
  text-align: center;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.ref {
  width: 100%;
  margin-bottom: 2em;
}

.ref button {
  border: none;
  background: 0;
  
  display: block;
  padding: 1em 0;
  width: 180px;
  background-color: yellow;
  /* box-shadow: 0 1px 5px rgba(248, 248, 248, 0.904); */
  border-radius: 1em;
  margin: auto;
  font-size: 1.5em;
}

.border-boton span {
  padding: 0 0.5em;
  font-size: 2rem;
  margin-right: 1em; 
  border-bottom: 5px solid yellow;
  color: white;
}

.border-boton span:last-child {
  margin-right: 0;
}

.contenPError {
  display: flex;
  justify-content: center; 
  /* position: relative; */
}

.contenPError > p {
  font-size: 2.5em;
  color: red;
  /* padding-bottom: 30px; */
  position: relative;
  bottom: 35px;
}

.container-son > .h2good {
  color: rgb(9, 239, 9);
  font-size: 5em;
  /* margin-bottom: 30px; */
  display: inline-block;
}
.container-son > .h2bad {
  display: inline-block;
  color: red;
  font-size: 5em;
  /* bottom: 400px; */
}

.container-son > #h2bad {
  display: inline-block;
  color: red;
  font-size: 5em;
  /* bottom: 400px; */
}

#gameOver > h2 {
  font-size: 6em;
  color: red;
}

#container-winner > h2 {
  color: rgb(9, 239, 9);
  font-size: 6em;
}

.border-boton > #span-space {

  border-bottom: 5px solid var(--fondo);
}

.border-boton > .teclaYaIncluidaAviso {
  color: var(--win);
  font-size: 2.5em;
}

@media (max-width: 480px) {
  body {
    /* background: white; */
  }
  .container-son > .h2good {
    font-size: 4em;
  }
  .container-son > .h2bad {
    font-size: 4em;
  }
  .border-boton span {
    /* padding: 0 0.5em; */
    font-size: 1.5rem;
    margin-right: 1em; 
    border-bottom: 5px solid yellow;
    color: white;
  }
 
}
@media (max-width: 360px) {
  .container-son > .h2good {
    font-size: 3em;
  }
  .border-boton span {
   font-size: 1.2em;
  }
  .container-son > .h2bad {
    font-size: 3em;
  }
  #container-winner > h2 {
    font-size: 4em;
  }
  #gameOver > h2 {
    font-size: 3em;
  }  
}

@media (max-width: 320px) {
  body {
    /* background: blue; */
  }
  .container-son > .h2good {
    font-size: 3em;
  }

  .border-boton span {
    font-size: 0.7rem;
    margin-right: 1em; 
  }
}
