* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bad: #ff0000; 
  --win: #14e61b;
  --fondo: #0e0e1c;
  --user: #787a7d;
 }

body {
  background-color: rgb(14, 14, 28);
  color: white;
}  

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid var(--user); */
  margin: auto;
  height: 400px;
  margin-top: 20vh;
}
.ref {
  flex: 1;
  /* border: 1px solid #ff0000; */
  display: flex;
  align-items: center;
}

.ref button {
  border: none;
  background: 0;

  display: block;
  padding: 1em 0;
  width: 180px;
  background-color: yellow;
  border-radius: 1em;
  margin: auto;
  font-size: 1.5em;
}

.border-boton span {
  padding: 0 0.5em;
  font-size: 2rem;
  margin-right: 1em; 
  border-bottom: 3px solid yellow;
  color: white;
}

.border-boton {
  flex: 1;
  /* border: 1px solid blueviolet; */
  display: flex;
  align-items: flex-end;
}

.border-boton span:last-child {
  margin-right: 0;
}

.contenPError {
  flex: 1;
  display: flex;
  justify-content: center; 
  /* border: 1px solid grey; */
}

.contenPError > p {
  font-size: 2em;
  color: red;
  padding: 0 0.5em;
  bottom: 35px;
}

.container-son {
  flex: 1;
  /* border: 1px solid blue; */
  display: flex;
}

.container-son > .h2good {
  color: rgb(9, 239, 9);
  font-size: 5em;
  transition: transform 1s ease-in-out 0s;  
}

.container-son > .h2good-animation {
  font-size: 5em;
  color: var(--win);
  animation: mianimacion 2s ease-in-out 2s infinite normal none;
}

@keyframes mianimacion {
  0% {
  color: var(--win);
}
  25% {
  color: var(--win);
  }
  50% {
  color: var(--win);
  }
  75% {
  color: rgb(226, 140, 27);
  }
  80% {
  color: rgb(226, 140, 27);
  }
  85% {
  color: red;
  }
  100% {
  color: red;
  }
}

.container-son > .h2bad {
  display: inline-block;
  color: red;
  font-size: 5em;
}

.container-son > #h2bad {
  display: inline-block;
  color: red;
  font-size: 5em;
}

#gameOver > h2 {
  font-size: 6em;
  color: red;
}

#container-winner > h2 {
  color: rgb(9, 239, 9);
  font-size: 6em;
}

@media (max-width: 480px) {
  .container-son > .h2good {
    font-size: 4em;
  }
  .container-son > .h2bad {
    font-size: 4em;
  }
  .border-boton span {
    font-size: 1rem;
  }
  .container-son > .h2good-animation {
    font-size: 4em;
  }
}
@media (max-width: 360px) {
  .container-son > .h2good {
    font-size: 3em;
  }
  .border-boton span {
   font-size: 1em;
  }
  .container-son > .h2bad {
    font-size: 3em;
  }
  #container-winner > h2 {
    font-size: 4em;
  }
  #gameOver > h2 {
    font-size: 3em;
  }  
  .container-son > .h2good-animation {
    font-size: 3em;
  }
}

@media (max-width: 320px) {
  .container-son > .h2good {
    font-size: 3em;
  }

  .border-boton span {
    font-size: 0.7rem;
    margin-right: 1em; 
  }
}
